<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="srikanth.tourapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrActivity"
            android:label="Trichy Places" />
        <activity
            android:name=".ChenActivity"
            android:label="Chennai Places" />
        <activity
            android:name=".MadActivity"
            android:label="Madurai Places" />
        <activity
            android:name=".CoimActivity"
            android:label="Coimbatore Places" />
        <activity
            android:name=".SrActivity"
            android:label="Srirangam" />
        <activity
            android:name=".PulianActivity"
            android:label="PulianChozhai" />
        <activity
            android:name=".KalActivity"
            android:label="Kallanai" />
        <activity
            android:name=".MukActivity"
            android:label="Mukkombu" />
        <activity
            android:name=".RockActivity"
            android:label="Rockfort" />
        <activity
            android:name="listitem.MarActivity"
            android:label="Marina Beach" />
        <activity
            android:name="listitem.SanActivity"
            android:label="Santhome Church" />
        <activity
            android:name="listitem.ConnActivity"
            android:label="Connimera Library" />
        <activity
            android:name="listitem.AnnaActivity"
            android:label="Anna Zoological Park" />
        <activity
            android:name="listitem.PulActivity"
            android:label="Pulicat Lake " />
        <activity
            android:name="listitem.GanActivity"
            android:label="Gandhi Museum" />
        <activity
            android:name="listitem.MeenActivity"
            android:label="Meenakshi Temple" />
        <activity
            android:name="listitem.TnayActivity"
            android:label="ThiruMalai Nayakkar" />
        <activity
            android:name="listitem.SamActivity"
            android:label="Samanar Hills" />
        <activity
            android:name="listitem.MonActivity"
            android:label="Monkey Falls" />
        <activity
            android:name="listitem.BlaActivity"
            android:label="Black Thunder" />
        <activity
            android:name="listitem.SiruActivity"
            android:label="Siruvani Falls" />
        <activity
            android:name="listitem.KovActivity"
            android:label="Kovai Kutralam" />
        <activity
            android:name="listitem.VelActivity"
            android:label="Samanar Hills" />
    </application>

</manifest>